# Compiled binaries
/server
/agent
/webserver

# Go build-cache
*.o
*.a

# Generated eBPF Go bindings
internal/agent/ebpf/policy_bpf*.go
internal/agent/ebpf/policy_bpf*.o

# SQLite database
*.db

# eBPF objekt
ebpf/*.o

.env
.vscode/
