# Compiled binaries
/policy-server
/policy-agent
/webserver
/nats

# Go build-cache
*.o
*.a

# Generated eBPF Go bindings
internal/agent/ebpf/policy_bpf*.go
internal/agent/ebpf/policy_bpf*.o

# eBPF objekt
ebpf/*.o

.env
.vscode/
